.home-background {
  --background: linear-gradient(rgba(11, 28, 43, 0.8), rgba(43, 102, 188, 0.4)), url('/assets/bg.jpg') no-repeat center center / cover !important;

  .brand {
    width: auto;
    height: 100%;
  }

  ::ng-deep .ion-align-items-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .box {
      align-content: center;

      &:last-child {
        padding-bottom: 3rem;
        align-content: end !important;
      }
    }
  }

  ::ng-deep ion-segment-button {
    margin: .5rem;
    padding: .5rem;
    font-weight: normal;
    border-radius: 1rem;
    text-transform: initial;
    background-color: rgba(255, 255, 255, 0.12);
  }

}
