<ion-grid class="ion-padding-vertical">

  <ion-row>
    <ion-col>

      <ion-title>
        <strong>Meus favoritos</strong>
      </ion-title>

    </ion-col>
    <ion-col class="ion-padding-horizontal">

      <div class="centered-right-content ion-text-right">

        <ion-text>
          <small class="margin-end-sm">Personalizar</small>
        </ion-text>
        <ion-icon name="grid-outline" color="tertiary"></ion-icon>

      </div>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>

      <ion-segment color="primary" scrollable id="favorites">
        <ion-segment-button>
          <ion-icon name="card-outline" color="primary" size="large"></ion-icon>
          <ion-text color="primary"><small>Cartão virtual</small></ion-text>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="add-circle-outline" color="primary" size="large"></ion-icon>
          <ion-text color="primary"><small>Cartão adicional</small></ion-text>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="shield-half-outline" color="primary" size="large"></ion-icon>
          <ion-text color="primary"><small>Seguros</small></ion-text>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="mail-outline" color="primary" size="large"></ion-icon>
          <ion-text color="primary"><small>Pacotes</small></ion-text>
        </ion-segment-button>
      </ion-segment>

    </ion-col>
  </ion-row>

</ion-grid>
