<ion-grid class="ion-padding-vertical">

  <ion-row>
    <ion-col>

      <ion-title>
        <strong>Meus favoritos</strong>
      </ion-title>

    </ion-col>
    <ion-col class="ion-padding-horizontal">

      <div class="centered-right-content ion-text-right">

        <ion-text>
          <small class="margin-end-sm">Personalizar</small>
        </ion-text>
        <ion-icon name="grid-outline" color="tertiary"></ion-icon>

      </div>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>

      <ion-segment color="primary" scrollable id="favorites" *ngIf="favoriteList$ | async as favoriteList">
        <ion-segment-button *ngFor="let favorite of favoriteList">
          <ion-icon [name]="favorite.icon" color="primary" size="large"></ion-icon>
          <ion-text color="primary"><small>{{ favorite.name }}</small></ion-text>
        </ion-segment-button>
      </ion-segment>

    </ion-col>
  </ion-row>

</ion-grid>
