/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-color-primary: #013972;
  --ion-color-primary-rgb: 1, 57, 114;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #013264;
  --ion-color-primary-tint: #1a4d80;

  --ion-color-tertiary: #3094d1;
  --ion-color-tertiary-rgb: 48, 148, 209;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #2a82b8;
  --ion-color-tertiary-tint: #459fd6;

  --ion-color-green: #00494b;
  --ion-color-green-rgb: 0, 73, 75;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #004042;
  --ion-color-green-tint: #1a5b5d;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}


.transparent-background {
  --background: transparent !important;
}

.bg-white {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centered-right-content {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.margin-end-sm {
  margin-right: 8px;
}

.padding-sm {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.no-shadow {
  --box-shadow: none;
}

.rounded {
  --border-radius: 16px;
}

ion-modal {
  --border-radius: 1.5rem 1.5rem 0 0;
}

ion-input {

  --highlight-color: #1a4d80 !important;
  --highlight-color-valid: #1a4d80 !important;
  --highlight-color-focused: #1a4d80 !important;

}
